html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    font-family:Roboto,Arial, san-serif;
}

a {
	text-decoration: none;
}

h1 {

}

.menu-bar {
	position:fixed;
	margin:0px;
	padding:0px;
	width:100%;
	background-color: white;

}

.content {
	width:57rem;
	margin:0 auto;
	padding:0px 15px;

}

/*course doesn't float this*/
.menu-bar img {
	display:inline-block;
	float:left;
	padding:0px;
	width:26px;
	height:70px;
}

.menu-bar ul {
	float:right;
}
.menu-bar li {
	display:inline-block;
	margin:0.75em;
	padding:0px;
	font-size: 1.05em;
}

.links a {
	color:#888;
}
.links .active{
	color:#555;
	font-weight: 500;
}

/*course uses li:hover*/
.links a:hover {
	color:#000;
}

.masthead {
	margin:0em;
	padding:15rem 0em;
	background-image: url("../images/back.jpg");
	background-size: cover;
	text-align:center;
	color:#fff;
}
.masthead h1 {
	margin:1rem 0rem;
	padding:0rem;
	font-size:3.2em;
	font-weight: 300;
}
.masthead h3 {
	margin:1rem 0rem;
	font-size:1.5em;
	font-weight: 300;
}

.masthead button {
	margin:1rem auto;
	padding:1rem 1.5rem;
	width:10rem;
	background-color: #f15a29;
	border:0px solid #f15a29;
	border-radius: 5px;
	color:#fff;
	font-size:1.2em;
}
.masthead button:hover {
	background-color: #d9400e;
	border:0px solid  #d9400e;
	cursor:pointer;
}

.features {
	margin:0rem;
	padding:7rem;
	text-align:center;
	background-color: #fff;
}
.features h2 {
	font-size:3em;
	font-weight: 300;
	color: #444;
}
.icon {
	width:33%;
	margin:0rem;
	float:left;
	display:inline-block;
}
.icon p {
	font-size:1.5em;
}

.icon img {
	width:8rem;
}

.clear {
	clear:both;
}

